* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .top-items {
      height: 20px;
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__name {
        width: 200px;
        color: #ffffff;
        font-size: 16px;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .top-items__icons-edit {
          margin-right: 5px;
        }
        a {
          color: #ffffff;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    padding: 20px;
    background-color: #2f3e51;
    .group {
      color: #ffffff;
      margin-bottom: 40px;
      .group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group-new-message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border: #eeeeee;
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}