* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  height: 100vh;
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .top-items {
      height: 20px;
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__name {
        width: 200px;
        color: #ffffff;
        font-size: 16px;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .top-items__icons-edit {
          margin-right: 5px;
        }
        a {
          color: #ffffff;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    padding: 20px;
    background-color: #2f3e51;
    .group {
      color: #ffffff;
      margin-bottom: 40px;
      .group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group-new-message {
        font-size: 11px;
      }
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border: #eeeeee;
    display: flex;
    justify-content: space-between;
    .chat-main__group-info__left {
      margin-left: 40px;
      .chat-main__group-name {
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        margin-bottom: 15px;
      }
      .chat-main__member-list {
        color: #999999;
        font-size: 12px;
        display: flex;
      }
    }
    .edit {
      height: 40px;
      width: 72px;
      color: #38aef0;
      border: 1px solid;
      font-size: 16px;
      margin-right: 40px;
      margin-top: 28px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 40px;
      text-decoration: none;
    }
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-left: 40px;
    padding-top: 35px;
    .message {
      padding-bottom: 46px;
      .user-name-day {
        display: flex;
        align-items: center;
        .user-name {
          color: #333333;
          font-size: 16px;
        }
        .day {
          color: #999999;
          font-size: 12px;
        }
        .time {
          color: #999999;
          font-size: 12px;
        }
      }
      .sentence {
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;

    .new-message {
      height: 90px;
      display: flex;
      padding-left: 40px;
      padding-right: 40px;
      align-items: center;
      .message-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        .type-message {
          height: 50px;
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
          border-style: none;
        }
        .image {
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .image-file {
          display: none;
        }
      }
      .send {
        height: 50px;
        width: 100px;
        margin-left: 15px;
        border-style: none;
        background-color: #38aef0;
        color: #ffffff;
      }
    }
  }
}

